@-moz-keyframes castle-move {
    0% { background-position: 0px bottom; }
    100% { background-position: -450px bottom; }
}
@-webkit-keyframes castle-move {
    0% { background-position: 0px bottom; }
    100% { background-position: -450px bottom; }
}
@keyframes castle-move {
    0% { background-position: 0px bottom; }
    100% { background-position: -450px bottom; }
}

@-moz-keyframes player-walk {
    0% { background-position: -48px -48px; }
    50% { background-position: -96px -48px; }
    100% { background-position: -144px -48px; }
}
@-webkit-keyframes player-walk {
    0% { background-position: -48px -48px; }
    50% { background-position: -96px -48px; }
    100% { background-position: -144px -48px; }
}
@keyframes player-walk {
    0% { background-position: -48px -48px; }
    50% { background-position: -96px -48px; }
    100% { background-position: -144px -48px; }
}

body.listing-page>.content {
    padding-top: 165px;
}

body.listing-page>.content:before {
    position: absolute;
    top: 0;
    content: "";
    width: 100%;
    height: 165px;
    background: url(%%castle%%) bottom repeat-x;

    -moz-animation: castle-move 6s infinite linear;
    -webkit-animation: castle-move 6s infinite linear;
    animation: castle-move 6s infinite linear;
}

body.listing-page #siteTable .thing:before {
    content: "";
    position: absolute;
    top: 100px;
    left: 10px;
    margin: -65px 0;
    display: block;
    width: 48px;
    height: 48px;
    background: url(%%abed%%) no-repeat;

    -moz-animation: player-walk 0.5s steps(1) infinite;
    -webkit-animation: player-walk 0.5s steps(1) infinite;
    animation: player-walk 0.5s steps(1) infinite;
}

body.listing-page #siteTable .thing:nth-child(1):before { background: url(%%abed%%); left: 10px; }
body.listing-page #siteTable .thing:nth-child(3):before { background: url(%%troy%%); left: 35px; }
body.listing-page #siteTable .thing:nth-child(5):before { background: url(%%abed%%); left: 60px; }
body.listing-page #siteTable .thing:nth-child(7):before { background: url(%%abed%%); left: 85px; }
body.listing-page #siteTable .thing:nth-child(9):before { background: url(%%abed%%); left: 110px; }
body.listing-page #siteTable .thing:nth-child(11):before { background: url(%%abed%%); left: 135px; }
body.listing-page #siteTable .thing:nth-child(13):before { background: url(%%abed%%); left: 160px; }